@import url('variables.css');
@import url('footer.css');

body {
    font-family: var(--fontPrimary);
    font-weight: var(--fontRegular);
    /* Usamos la variable para mantener consistencia */
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--colorPrimary);
}

img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

svg {
    width: 36px;
}

.dark-mode svg path {
    stroke: var(--colorSecondary);
}

.header {
    position: relative;
    background-color: var(--colorNeutral);
    padding: 0 32px;
    border-bottom: 1px solid rgba(197, 168, 128, .25);
}

.dark-mode .header {
    background-color: var(--colorDarkNeutral);
}

.header__nav {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.header__nav__logo {
    font-family: var(--fontSecondary);
    font-size: 28px;
    color: var(--colorPrimary);
}

.header__nav__bar {
    position: relative;
    display: flex;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 32px;
    height: 22px;
    display: none
}


.header__nav__bar span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--colorPrimary);
    transition: 0.5s ease-in-out;
}

.dark-mode .header__nav__bar span {
    background-color: var(--colorSecondary);
}

.header__nav__bar span:nth-child(2) {
    top: 10px;
    rotate: 45deg;
    transform: scale(1.25);
    opacity: 0;
}

.header__nav__bar span:nth-child(3) {
    top: 10px;
}

.header__nav__bar span:nth-child(4) {
    top: 10px;
    rotate: -45deg;
    transform: scale(1.25);
    opacity: 0;
}

.header__nav__bar span:nth-child(5) {
    top: 20px;
}

.header__nav__bar.active span {
    opacity: 0;
}

.header__nav__bar.active span:nth-child(2) {
    opacity: 1;
}

.header__nav__bar.active span:nth-child(4) {
    opacity: 1;
}

.dark-mode .header__nav__logo {
    color: var(--colorDarkSecondary);
}

.header__nav__list__content {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.header__nav__list__content.active {
    transition: 0.5s ease-in-out;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .header__nav__bar {
        display: block;
    }

    .header__nav__list__content {
        position: absolute;
        margin: 0;
        top: 75px;
        left: 0;
        width: 100%;
        transition: 0.5s ease-in-out;
        opacity: 0;
    }
}

.header__nav__list {
    text-align: center;
    padding: 10px 15px;
}

.header__nav__list__item {
    position: relative;
    font-weight: var(--fontMedium);
    color: var(--colorTertiary);
    opacity: .75;
    transition: 0.25s ease-in-out;
}

.header__nav__list__item:hover {
    color: var(--colorPrimary);
    opacity: 1;
    transition: 0.25s ease-in-out;
}

.dark-mode .header__nav__list__item {
    color: #fff;
}

.header__nav__list__item::after {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--colorPrimary);
    bottom: -3px;
    width: 0;
    height: 1px;
    transition: 0.25s ease-in-out;
}

.header__nav__list__item:hover::after {
    content: '';
    width: 100%;
    transition: 0.25s ease-in-out;
}

.header__nav__content {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header__nav__content__text {
    color: var(--colorTertiary);
    font-size: 14px;
    opacity: .75;
}

.dark-mode .header__nav__content__text {
    color: var(--colorDarkSecondary)
}

.header__nav__content__button {
    display: flex;
}

.header__nav__content__button button {
    position: relative;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header__nav__content__button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.25rem;
    width: 1.25rem;
    pointer-events: none;

}

.header__nav__content__button .light {
    opacity: 0;
    transform: translate(-50%, 100%);
    transition: transform 0.3s, opacity 0.3s;
}

.dark-mode .header__nav__content__button .dark {
    opacity: 0;
    transform: translate(-50%, -150%);
}

.dark-mode .header__nav__content__button .light {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.header__nav__content__image {
    width: 24px;
    height: 24px;
}

.header__nav__content__span {
    color: var(--colorPrimary);
    font-weight: var(--fontMedium);
}


.section__primary {
    display: flex;
    background-color: var(--colorNeutral);
    padding: 80px 32px 128px 32px;
}



.dark-mode .section__primary {
    background-color: var(--colorDarkNeutral);
}

.section__primary__information__span {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--colorTertiary);
    font-size: 12px;
    opacity: .75;
}

.dark-mode .section__primary__information__span {
    color: var(--colorSecondary);
}

.section__primary__information__span::before {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background-color: var(--colorTertiary);
    opacity: .75;
}

.dark-mode .section__primary__information__span::before {
    background-color: var(--colorSecondary);
}

.section__primary__information__title {
    font-family: var(--fontSecondary);
    font-weight: var(--fontRegular);
    color: var(--colorPrimary);
    font-size: 48px;
}

.dark-mode .section__primary__information__title {
    color: var(--colorDarkSecondary);
}

.section__primary__information__title span {
    font-style: italic;
}

.dark-mode .section__primary__information__title span {
    color: var(--colorDarkTertiary);
}

.section__primary__information__text {
    font-size: 18px;
    color: var(--colorPrimary);
    margin: 0;
}

.dark-mode .section__primary__information__text {
    color: var(--colorDarkSecondary);
    ;
}

.section__primary__information__buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 20px 0 30px 0;
    border-bottom: 1px solid rgba(197, 168, 128, .25);
    margin-top: 10px;
    margin-bottom: 15px;

}

.section__primary__information__list {
    display: flex;
    column-gap: 60px;
}


.section__primary__information__list__title {
    font-weight: var(--fontMedium);
    font-size: 10px;
    color: var(--colorTertiary);
    opacity: .75;
    margin-bottom: 10px;
}

.dark-mode .section__primary__information__list__title {
    color: var(--colorSecondary);
    ;
}

.section__primary__information__list__number {
    font-family: var(--fontSecondary);
    color: var(--colorPrimary);
    font-size: 20px;
    margin-bottom: 5px;
}

.dark-mode .section__primary__information__list__number {
    color: #fff;
}

.section__primary__information__list__text {
    color: var(--colorTertiary);
    font-size: 10px;
}

.dark-mode .section__primary__information__list__text {
    color: var(--colorDarkSecondary);
}

.section__primary__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    border: 50px solid var(--colorFourty);
    padding: 40px 30px 10px 30px;
    overflow: hidden;
}

.dark-mode .section__primary__image {
    border: 50px solid #181715;
    background-color: #1a1817;
}

.section__primary__image img {
    background-color: #fff;
}

.section__primary__image__content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 10px 0;
    border-top: 1px solid rgba(197, 168, 128, .25);
}

.section__primary__image__content__span {
    color: var(--colorTertiary);
    font-size: 12px;
}

.dark-mode .section__primary__image__content__span {
    color: var(--colorSecondary);
}

.section__secondary {
    display: flex;
    padding: 80px 32px 80px 32px;
    justify-content: space-between;
    column-gap: 30px;
    background-color: var(--colorFourty);
}

.dark-mode .section__secondary {
    background-color: #181715;
}

.section__secondary__information {
    max-width: 500px;
}

.section__secondary__information__span {
    color: var(--colorTertiary);
    font-size: 12px;
    opacity: .75;
}

.dark-mode .section__secondary__information__span {
    color: var(--colorSecondary);
}

.section__secondary__information__title {
    font-family: var(--fontSecondary);
    font-size: 42px;
    line-height: 1.25;
    color: var(--colorPrimary);
    font-weight: var(--fontRegular);
    margin: 1.25rem 0 1.25rem 0;
}

.dark-mode .section__secondary__information__title {
    color: #fff;
}

.section__secondary__information__text {
    color: var(--colorTertiary);
    opacity: .75;
    font-size: 16px;
    line-height: 1.5;
}

.dark-mode .section__secondary__information__text {
    color: var(--colorDarkSecondary);
}

.section__secondary__information__article {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: var(--fontSecondary);
    color: var(--colorDarkPrimary);
    font-style: italic;
    font-size: 20px;
    margin: 40px 0 25px 0;
}

.dark-mode .section__secondary__information__article {
    color: #fff;
    opacity: .75;
}

.section__secondary__information__article::before {
    content: '';
    height: 70px;
    width: 4px;
    background-color: var(--colorTertiary);
}

.dark-mode .section__secondary__information__article::before {
    background-color: var(--colorDarkTertiary);
}

.section__secondary__information__author {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--colorTertiary);
    font-size: 12px;
    opacity: .75;
}

.dark-mode .section__secondary__information__author {
    color: var(--colorSecondary);
}

.section__secondary__information__author::before {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--colorTertiary);
    opacity: .75;
}

.dark-mode .section__secondary__information__author::before {
    background-color: var(--colorSecondary);
}

.section__secondary__image {
    overflow: hidden;
}

.section__secondary__image:last-child {
    margin-top: 40px;
}

.section__tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px 0;
    background-color: var(--colorNeutral);
}

.dark-mode .section__tertiary {
    background-color: #121110;
}

.section__tertiary__content {
    text-align: center;
    max-width: 500px;
}

.section__tertiary__text {
    color: var(--colorTertiary);
    font-size: 14px;
}

.dark-mode .section__tertiary__text {
    color: var(--colorDarkSecondary);
}

.section__tertiary__title {
    font-family: var(--fontSecondary);
    color: var(--colorDarkPrimary);
    font-weight: var(--fontRegular);
    font-size: 28px;
}

.dark-mode .section__tertiary__title {
    color: #fff;
}

.section__tertiary__content__span {
    color: var(--colorTertiary);
    font-size: 12px;
    opacity: .75;
}

.dark-mode .section__tertiary__content__span {
    color: var(--colorSecondary);
}

.section__tertiary__form {
    display: flex;
    column-gap: 20px;
    align-items: end;
}

.section__tertiary__form__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section__tertiary__form__content label {
    color: var(--colorTertiary);
    font-size: 12px;
    opacity: .75;
}

.dark-mode .section__tertiary__form__content label {
    color: #fff;
    opacity: .75;
}

.section__tertiary__form__content input {
    padding: 12px 24px;
    border: 1px solid rgba(197, 168, 128, .25);
}

.dark-mode .section__tertiary__form__content input {
    background-color: #1a1817;
    color: #fff;
}

.button__primary {
    color: #fff;
    background-color: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    padding: 12px 24px;
    font-size: 14px;
    font-weight: var(--fontMedium);
    transition: 0.25s ease-in-out;
}

.dark-mode .button__primary {
    background-color: var(--colorDarkPrimary);
}

.button__primary:hover {
    background-color: #fff;
    color: var(--colorPrimary);
    transition: 0.25s ease-in-out;
}

.button__secondary {
    position: relative;
    color: var(--colorPrimary);
}

.dark-mode .button__secondary {
    color: #fff;
}

.button__secondary::after {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--colorTertiary);
    width: 0;
    height: 1px;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.dark-mode .button__secondary::after {
    background-color: var(--colorSecondary);
}

.button__secondary:hover::after {
    width: 100%;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {

    .section__primary,
    .section__secondary {
        flex-direction: column;
    }

    .section__tertiary__form {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 970px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    body {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        max-width: 1280px;
    }
}